/*global*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
body{
    font-family: 'Lato', sans-serif;
    background-color: black;
    color: white;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
img.icon{
    height: 1px;
}

/*utilities*/
.container{
    width: 95%;
    margin: 0 auto;
}
.read-btn{
    margin-top: 0;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 9px;
    font-weight: bold;
    color: white;
    letter-spacing: 1px;
}

/*nav*/
nav.navigation{
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: space-between;
    height: 32px;
}
nav .menu{
    display: flex;
    justify-items: center;
}
nav .logo{
    display:none;
}
nav .icon{
    height: 22px;
    padding-left: 12px;
}
a.link-login{
    text-transform: uppercase;
    font-size: 8px;
    font-weight: bolder;
    letter-spacing: 3px;
    margin: 4px;
    padding: 11px;
    color:black
}
a.link-search{
    display: none;
}
a.link-subs{
    text-transform: uppercase;
    font-size: 8px;
    letter-spacing: 2px;
    font-weight: bolder;
    box-shadow: inset 0 0 0 0 #ffcc00;
    color: white;
    background-color: black;
    margin: 4px;
    padding: 11px;
    transition: color .3s ease-in-out, box-shadow .4s ease-in-out;

}
a.link-subs:hover{
    color: black;
    box-shadow: inset 200px 0 0 0 #ffcc00;;
}
a.link-menu{
    display: none;
}
a.link-arrows{
    display: flex;
    align-self: center;
    color: black;
    margin-left: 12px;
    margin-right: 20px;
}

/*header*/
.header{
    display: contents;
    text-align: center;
    height: 50px;
}
.header .title{
    text-transform: uppercase;
    font-size: 28px;
    font-weight: bolder;
    letter-spacing: 3px;
    margin-top: 33px;
    margin-bottom: 10px;
}
.header .text{
    font-size: 12px;
    line-height: 1.4;
    margin-bottom: none;
}

.header .text span{
    background:
    linear-gradient(
      to right,
      #ffcc00,
      #ffcc00
    );
    background-size: 100% 1.5px, 0 1.5px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 200ms;
}
header .text span:hover{
    --_d: 100%;
    color: black;
    background: 
        linear-gradient(#ffcc00 0 0) 
        bottom/100% var(--_d, 0) no-repeat;
    transition: 0.2s;
    cursor: pointer;
}
header .border{
    width: 20px;
    height: 3px;
    margin: 15px auto 0;
    margin-bottom: 35px;
    background-color: #ffcc00;
    line-height: 0;
}

/*main-news*/
.main-news{
    height: 300px;
    max-width: fit-content;
    margin-bottom: 10px;
    padding: 7px;
}
.main-news .main-news-block{
    position: absolute;
    top: 350px;
    left: 0;
    margin-left: 20px;
    padding: 7px;
}
.main-news .main-news-block h3{
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 9px;
    font-weight: bolder;
    letter-spacing: 1.5px;
}
.main-news .main-news-block h3:hover{
    text-decoration: underline;
    cursor: pointer;
}
.main-news .main-news-block p{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 27px;
    font-weight: bolder;
}

/*secondary-news*/
.secondary-news{
    margin-bottom: 0;
    height: 300px;
    max-width: fit-content;
    padding: 7px;
}
.secondary-news .secondary-news-block{
    margin-top: -20px;
    height: 110px;
    background-color: white;
    color: black;
    padding: 10px;
}
.secondary-news .read-btn{
    color: black;
}
.secondary-news .secondary-news-block h3{
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 9px;
    font-weight: bolder;
    letter-spacing: 1.5px;
}
.secondary-news .secondary-news-block h3:hover{
    text-decoration: underline;
    cursor: pointer;
}
.secondary-news .secondary-news-block p{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: bolder;
}
.secondary-news-img{
    overflow: hidden;
}
.secondary-news:hover img{
    transform: scale(1.2);
}
/*todays-picks*/
.todays-picks{
    display: block;
    justify-items: center;
}
.todays-picks .todays-picks-title{
    font-size: 30px;
    text-transform: uppercase;
    border-left: 15px #ffcc00;
    padding-left: 20px;
    letter-spacing: 3px;
    cursor: text;
}
.todays-picks .pick-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}
.todays-picks .pick-item:hover{
    cursor: pointer;   
}
.todays-picks .pick-item img{
    width: 90px;
    height: 90px;
}
.todays-picks .pick-item .pick-item-text{
    width: 200px;
    color: white;
}
.todays-picks .pick-item .pick-item-text .todays-picks-block-title-p{
    margin-top: 0;
    margin-bottom: 5px;
    padding: 2px;
    width: 110px;
    background-color: white;
    color: black;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 10px;
}
.todays-picks .pick-item .pick-item-text .todays-picks-block-title{
    margin-top: 0;
    margin-bottom: 5px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 10px;
}
.todays-picks .pick-item .pick-item-text .link-todays-picks-text{
    margin-top: 0;
    color: white;
    font-size: 11px;
    font-weight: bolder;
    letter-spacing: 0.5px
}
.todays-picks .pick-item .pick-item-text .link-todays-picks-text:hover{
    text-decoration: underline;
}
.todays-picks .link-see{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.todays-picks .link-see .link-see-more{
    text-transform: uppercase;
    color: white;
    font-size: 9px;
    font-weight: bolder;
    text-align: center;
    letter-spacing: 1px;
    background:
    linear-gradient(
      to right,
      #ffcc00,
      #ffcc00
    );
    background-size: 100% 1.5px, 0 1.5px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 200ms;
}
.todays-picks .link-see .link-see-more:hover{
    --_d: 100%;
    color: black;
    background: 
        linear-gradient(#ffcc00 0 0) 
        bottom/100% var(--_d, 0) no-repeat;
    transition: 0.2s;
    cursor: pointer;
}
/*
.header .text span{
    background:
    linear-gradient(
      to right,
      #ffcc00,
      #ffcc00
    );
    background-size: 100% 1.5px, 0 1.5px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 200ms;
}
header .text span:hover{
    --_d: 100%;
    color: black;
    background: 
        linear-gradient(#ffcc00 0 0) 
        bottom/100% var(--_d, 0) no-repeat;
    transition: 0.2s;
    cursor: pointer;
}
*/